[Unit]
Description=BlackBoxGPT bot
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
# Поставь нужного пользователя: ubuntu / bear1berry
User=ubuntu
WorkingDirectory=%h/BlackBoxGPT_bot
EnvironmentFile=%h/BlackBoxGPT_bot/.env
ExecStart=%h/BlackBoxGPT_bot/venv/bin/python -m bot.main

Restart=on-failure
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
