[Unit]
Description=BlackBoxGPT Telegram Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/bear1berry/BlackBoxGPT_bot
ExecStart=/home/bear1berry/BlackBoxGPT_bot/venv/bin/python -m bot.main
Restart=always
RestartSec=5
User=bear1berry

[Install]
WantedBy=multi-user.target
