[Unit]
Description=BlackBox GPT Telegram Bot
After=network.target

[Service]
Type=simple
User=bear1berry
WorkingDirectory=/home/bear1berry/BlackBoxGPT_bot
Environment="PYTHONPATH=/home/bear1berry/BlackBoxGPT_bot"
ExecStart=/home/bear1berry/BlackBoxGPT_bot/venv/bin/python -m bot.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
